//- THUMBNAIL
td
  img(src='{{tea.imageUrl}}')

//- DETAILS
td
  h5 {{ tea.name }}
  li 
    strong Price
    span {{ tea.price | cb_monetize }}
  li 
    strong Caffeine Scales
    span {{ tea.caffeineScale }}
  li 
    strong Rating
    span {{ tea.rating }}
  li 
    strong In Stock?
    span {{ tea.inStock | cb_assertTrue }}
  li 
    strong Rating
    ul
      li(ng-repeat='c in tea.categories') {{ c }}

//- METHODS
td
  h5 Quantity
  select(ng-model='tea.qty')
    option
    each val in [2, 3, 4, 5, 6, 7, 8, 9, 10]
      option(value=val)= val
  button.btn.btn-warning(ng-click='cart.addItem(tea)') Add To Bag
