html(ng-app='chrisbrown')
  head
    title DRINK SOME TEA
    base(href='/meanest-tea')
    include includes/style_block

  body(ng-controller='MainController')
    include includes/header
    include includes/navbar

    ng-view

    include includes/script_block
