html(ng-app='chrisbrown')
  head
    title DRINK SOME TEA
    include includes/style_block

  body(ng-controller='MainController')
    h1 Hello World
    h3 {{ greeting }}    

    include includes/script_block
