.options
  h3 My Shopping Bag
  h3 Order total: {{ cart.total | cb_monetize }}

.cart
  table
    thead
      tr
        th Product
        th Quantity
        th Sub-total
        th
    tbody
      tr(ng-repeat='item in cart.cart')
        td
          h2 {{ item.name }} 
          img(src='{{ item.imageUrl }}')
          li
            strong Caffeine Scale: 
            span {{ item.caffeineScale }}
          li
            strong Ingredients:
            span {{ item.ingredients }}
          li
            strong Rating:
            span {{ item.rating }}
        td 
          input(ng-init='item.is_editing=false' type='number' ng-show='item.is_editing' ng-model='item.qty')
          span(ng-show='!item.is_editing') {{ item.qty }}
        td 
          span {{ item.price * item.qty | cb_monetize }}
        td
          button.btn.btn-warning(ng-show='item.is_editing' ng-click='updateCart(item)') Save
          button.btn.btn-warning(ng-show='!item.is_editing' ng-click='updateCart(item)') Edit
          button.btn.btn-danger(ng-click='removeItem(item)') Remove
