.options
  .options_left
    span Search by category
    select(ng-model='search_by.categories')
      option
      option(ng-repeat='c in categories') {{ c }}
    span Search by name
    input(type='text' ng-model='search_by.name')
  .options_right
    a(href='/cart')
      button.btn.btn-danger Checkout | {{ cart.qty }}

.catalog
  table
    thead
      th Tea
      th Information
      th Sort by price
        select(ng-model='tea.cost')
          option
          option(value='-price') Highest
          option(value='price') Lowest
    tbody
      tr(ng-repeat='t in teas | filter:search_by | orderBy:tea.cost ')
        td
          img(src='{{t.imageUrl}}')
        td
          h5 {{ t.name }}
          li 
            strong Price
            span {{ t.price | cb_monetize }}
          li 
            strong Caffeine Scales
            span {{ t.caffeineScale }}
          li 
            strong Rating
            span {{ t.rating }}
          li 
            strong In Stock?
            span {{ t.inStock | cb_assertTrue }}
          li 
            strong Rating
            ul
              li(ng-repeat='c in t.categories') {{ c }}
        td
          h5 Quantity
          select(ng-model='t.qty')
            option
            each val in [2, 3, 4, 5, 6, 7, 8, 9, 10]
              option(value=val)= val
          button.btn.btn-warning(ng-click='cart.addItem(t)') Add To Bag
