.options
  .options_left
    span Search by category
    select(ng-model='search_by.categories')
      option
      option(ng-repeat='c in categories') {{ c }}
    span Search by name
    input(type='text' ng-model='search_by.name')
  .options_right
    a(href='/cart')
      button.btn.btn-danger Checkout | {{ cart.qty }}

.catalog
  table
    thead
      th Tea
      th Information
      th Sort by price
        select(ng-model='tea.cost')
          option
          option(value='-price') Highest
          option(value='price') Lowest
    tbody
      tr(ng-repeat='t in teas | filter:search_by | orderBy:tea.cost ' cb-teawidget='t' cart='cart')
